<div class="container">
  <div class="errors"></div>

  <div class="row">
    <div class="chart-container col-md-9">
      <h1>System Performance</h1>
      <div id="chart"></div>
      <h1>System Info</h1>
      <div id="sys-info">
        <p><strong>OS: </strong><%= @sysinfo.os %></p>
        <p><strong>Implementation: </strong><%= @sysinfo.impl %></p>
        <p><strong>Architecture: </strong><%= @sysinfo.arch %></p>
        <p><strong>Platform: </strong><%= @sysinfo.platform %></p>
        <br />
        <p><strong>User: </strong><%= @sysinfo.user %></p>
        <p><strong>Home: </strong><%= @sysinfo.home %></p>
        <p><strong>Shell: </strong><%= @sysinfo.shell %></p>
        <p><strong>Paths: </strong><%= @sysinfo.paths %></p>
        <br />
        <p><strong>Hostname: </strong><%= @sysinfo.hostname %></p>
        <p><strong>IP Address: </strong><%= @sysinfo.ipaddress_internal %></p>
      </div>
    </div>
    <div class="alerts-container col-md-3">
      <h1>Recent Alerts</h1>
      <div id="alerts"></div>
    </div>
  </div>
</div>
