body {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.bar:hover {
  fill: skyblue;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -3px 0 0 0;
  top: 100%;
  left: 0;
}

.load-alert {
  min-height: 120px;
  h4 {
    padding: 8px;
    margin: 0;
    
    background-color: #f03f44;
    color: white;
  }
  .load-alert-body {
    min-height: 85px;
    .load {
      float: left;
      width: 40%;
      height: 66px;
      background-color: #ddd;
      padding: 5px;
      p {
        margin: 0;
        font-weight: bold;
        font-size: 1.75em;
      }
    }
    .time {
      float: right;
      width: 60%;
      min-height: 66px;
      background-color: #aaa;
      padding: 5px;
      p {
        margin: 8px 0 0 0;
        font-weight: bold;
        font-size: 1.25em;
      }
    }
  }
}
